/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.coment-text, .form-line__input, .is-hidden, .close-button__symbol, .backdrop, .menu-toggle.js-close-menu, .menu-container, .btn-footer, .footer-contact__link.link, .footer-contact__address.link, .client-list__link, .social-list__symbol, .social-list__link, .btn, .link {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --primary-logo-color: #000000;
  --contact-color: rgba(255, 255, 255, 0.6);
  --primary-btn-color: #f5f4fa;
  --active-btn-color: #188ce8;
  --border-color: #ececec;
  --icon-color: #afb1b8;
  --footer-item-color: rgba(255, 255, 255, 0.1);
  --background-color-hero: #c4c4c4;
  --close-btn-color: #e7e9fc;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.accent {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
}

input {
  outline: none;
}

textarea {
  resize: none;
  outline: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  margin-top: 0px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
  border-color: transparent;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--primary-background-color);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
}
.social-list__link:hover .social-list__symbol, .social-list__link:focus .social-list__symbol {
  fill: var(--primary-background-color);
}

.social-list__symbol {
  width: 20px;
  height: 20px;
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.header-section {
  border-bottom: 1px solid var(--border-color);
}

.page-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav .site-nav {
  display: none;
}
@media (min-width: 768px) {
  .main-nav .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
.main-nav .site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.main-nav .site-nav .site-nav__link--curent {
  display: block;
  position: relative;
  color: var(--accent-color);
}
.main-nav .site-nav__item .site-nav__link--curent::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}
.main-nav .site-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
.main-nav .auth-nav {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main-nav .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .main-nav .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    margin-left: auto;
  }
}
.main-nav .auth-nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media (min-width: 1200px) {
  .main-nav .auth-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.main-nav .auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--icon-color);
}
.main-nav .link:hover,
.main-nav .link:focus {
  color: var(--accent-color);
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu-open__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
@media (min-width: 768px) {
  .mobile-menu-open__icon {
    display: none;
  }
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
.hero-section__title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  color: var(--primary-background-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
@media (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-section > .btn:hover, .hero-section > .btn:focus {
  color: var(--primary-background-color);
  background-color: var(--active-btn-color);
}
@media (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/index-img/hero_section/hero-img__mob@1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/index-img/hero_section/hero-img__mob@1x.jpg);
  background-repeat: no-repeat;
  background-color: var(--background-color-hero);
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/index-img/hero_section/hero-img__mob@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/index-img/hero_section/hero-img__mob@2x.jpg);
  }
}
@media (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/index-img/hero_section/hero-img__tab@1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/index-img/hero_section/hero-img__tab@1x.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/index-img/hero_section/hero-img__tab@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/index-img/hero_section/hero-img__tab@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/index-img/hero_section/hero-img__desktop@1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/index-img/hero_section/hero-img__desktop@1x.jpg);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/index-img/hero_section/hero-img__desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/index-img/hero_section/hero-img__desktop@2x.jpg);
  }
}

.benefit-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .benefit-section {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.benefit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .benefit-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) {
  .benefit-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .benefit-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.container-benefit {
  width: 100%;
}
@media (min-width: 768px) {
  .container-benefit {
    max-width: 354px;
  }
}
@media (min-width: 1200px) {
  .container-benefit {
    max-width: 270px;
  }
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  max-width: 450px;
  border-radius: 4px;
  background: var(--primary-btn-color);
}
@media (min-width: 1200px) {
  .icon-container {
    width: 270px;
  }
}

.icon-container__symbol {
  width: 70px;
  height: 70px;
}

.container-benefit__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.container-benefit__text {
  margin-top: 0px;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.benefit-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.section-work {
  display: none;
}
@media (min-width: 1200px) {
  .section-work {
    display: block;
    padding-top: 47px;
    padding-bottom: 94px;
  }
}

.section-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-work__list .section-work__card:not(:last-child) {
  margin-right: 30px;
}

.card-product__img {
  display: block;
  max-width: 100%;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.card-product {
  display: block;
  position: relative;
  overflow: hidden;
}

.overlay-decoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.overlay-decoration__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-btn-color);
}
@media (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-team .section-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 767px) {
  .section-team .section-team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) {
  .section-team .section-team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .section-team .section-team__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.section-team .section-team__info {
  max-width: 460px;
  text-align: center;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (min-width: 768px) {
  .section-team .section-team__info {
    max-width: 354px;
  }
}
@media (min-width: 1200px) {
  .section-team .section-team__info {
    max-width: 270px;
  }
}
.section-team .person-info {
  padding-top: 30px;
  padding-bottom: 24px;
}
.section-team .person-info__name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.section-team .person-info__position {
  margin-top: 10px;
  margin-bottom: 0px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
}
@media (min-width: 1200px) {
  .section-team {
    padding-bottom: 30px;
  }
}

.cliets-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .cliets-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media (min-width: 1200px) {
  .client-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 210px;
  height: 92px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 52px;
  padding-right: 52px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
}
.client-list__link:hover, .client-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media (min-width: 768px) {
  .client-list__link {
    max-width: 226px;
  }
}
@media (min-width: 1200px) {
  .client-list__link {
    width: 170px;
    height: 92px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.client-list__symbol {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.logo.logo-footer {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer-contact__list.list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contact__address.link {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-background-color);
  -webkit-transition-property: color;
  transition-property: color;
}

.footer-contact__address:hover,
.footer-contact__address:focus {
  color: var(--accent-color);
}

.footer-contact__link.link {
  display: block;
  margin-top: 9px;
  margin-bottom: 0px;
  color: var(--contact-color);
  -webkit-transition-property: color;
  transition-property: color;
}

.footer-contact__link:hover,
.footer-contact__link:focus {
  color: var(--accent-color);
}

.footer-social {
  display: inline-block;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .footer-social {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .footer-social {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 70px;
  }
}

.footer__container {
  display: block;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 0;
  }
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
  color: var(--primary-background-color);
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: auto;
  gap: 10px;
}

.footer-item {
  color: var(--primary-background-color);
  background-color: var(--footer-item-color);
}

.footer-container {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 93px;
    margin-top: 0;
  }
}

.footer-form {
  margin-top: 20px;
}

.footer-form__input {
  height: 50px;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer-form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.btn-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 200px;
  margin-left: 12px;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.btn-footer::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icons/icon\ send.svg);
}
.btn-footer:hover, .btn-footer:focus {
  color: var(--primary-background-color);
  background-color: var(--active-btn-color);
}

@media (min-width: 768px) {
  .container-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container-info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 83px 48px 40px;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 767px) {
  .mobile-icon {
    display: inline-block;
    width: 32px;
    height: 22px;
    stroke: #2e2f42;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
  }
}

.menu-toggle {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.menu-toggle.js-close-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition-property: color;
  transition-property: color;
}

.menu-toggle.js-close-menu:hover {
  color: var(--accent-color);
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile-nav__item .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 32px;
  margin-top: 180px;
}

.mobile-auth-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-auth-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 0;
}

.mobile-social__link {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  background-color: var(--primary-background-color);
}
@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
}

.close-button__symbol {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.close-button:hover .close-button__symbol,
.close-button:focus .close-button__symbol {
  color: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.modal__title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-text-color);
}
@media (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.form-line {
  margin-top: 0px;
  margin-bottom: 10px;
}

.modal-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-line__input {
  padding-left: 42px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-line {
  position: relative;
}

.icon-form {
  position: absolute;
  top: 25%;
  left: 15px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.form-line__input:focus {
  border-color: var(--accent-color);
}

.form-line__input:focus + .icon-form {
  fill: var(--accent-color);
}

.coment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
  margin-bottom: 20px;
}

.coment-container label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.coment-text {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  border-radius: 4px;
}
.coment-text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.coment-text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.coment-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.coment-text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.coment-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.coment-text:focus {
  border-color: var(--accent-color);
}

.accept-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 3px;
  color: var(--accent-color);
}

.policy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 30px;
}

.policy-container input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

.label-container {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label-container::before {
  content: "";
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-image: url(../images/icons/Vector.svg);
}

.checkbox:checked + .label-container::before {
  border-color: transparent;
  border-radius: 2px;
  background-color: #2196f3;
  background-image: url(../images/icons/icon\ check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 10px 52px;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--primary-background-color);
  background-color: var(--active-btn-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo.logo-header {
  display: inline-block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--primary-logo-color);
}

.logo.logo-footer {
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */