:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --primary-logo-color: #000000;
  --contact-color: rgba(255, 255, 255, 0.6);
  --primary-btn-color: #f5f4fa;
  --active-btn-color: #188ce8;
  --border-color: #ececec;
  --icon-color: #afb1b8;
  --footer-item-color: rgba(255, 255, 255, 0.1);
  --background-color-hero: #c4c4c4;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

input {
  outline: none;
}

textarea {
  resize: none;
  outline: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}
/* Header */
.header-section {
  position: relative;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 22px;
  right: 23px;

  min-width: 16px;
  min-height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;

  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--primary-background-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 25px;
  right: 21px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.logo.logo-header {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;

  color: var(--primary-logo-color);
}

.logo.logo-footer {
  color: #ffffff;
}

.accent {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

.site-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .site-nav__link--curent {
  display: block;
  position: relative;
  color: var(--accent-color);
}

.site-nav__item .site-nav__link--curent::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background: var(--accent-color);
}

.site-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav__link {
  display: flex;

  color: var(--icon-color);
}

/* hero */

.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

.hero-section__title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;

  color: var(--primary-background-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
}

.hero-section > .btn:hover,
.hero-section > .btn:focus {
  color: var(--primary-background-color);
  background-color: var(--active-btn-color);
}

.overlay {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero\ imgMob1x.jpg);

  background-repeat: no-repeat;
  background-color: var(--background-color-hero);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Hero\ imgMob@2x.jpg);
  }
}

.btn {
  display: inline-block;
  border-radius: 4px;
  margin-top: 0px;
  padding: 10px 24px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  border-color: transparent;

  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition-property: background-color;

  @extend %transDtiming;
}

/* benefit-section */

.benefit-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.icon-container {
  position: relative;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background: var(--primary-btn-color);
}

.icon-container__symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 70px;
  height: 70px;
}

.container-benefit__title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  text-align: center;

  color: var(--primary-text-color);
}

.container-benefit__text {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

/* work-type */

.section-work {
  display: none;
}

/* team-members */

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-btn-color);
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  margin-top: 0px;
  margin-bottom: 30px;

  text-align: center;
}

.section-team__info {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.galary-img {
  width: 450px;
  height: 460px;
}

.section-team__img {
  display: block;
  width: 100%;
  object-position: ce;
}

.person-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.person-info__name {
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
}

.person-info__position {
  margin-top: 10px;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.18;

  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 12px;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icon-color);
  background-color: var(--primary-background-color);
  transition-property: background-color, color;

  @extend %transDtiming;
}
.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
}

.social-list__link:hover .social-list__symbol,
.social-list__link:focus .social-list__symbol {
  fill: var(--primary-background-color);
}

.social-list__symbol {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition-property: fill;

  @extend %transDtiming;
}

/* regular clients */

.cliets-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.client-list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.client-list__logo {
  width: 210px;
  height: 92px;
}

.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 52px 16px 52px;

  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition-property: border-color, color;

  @extend %transDtiming;
}

.client-list__link:hover,
.client-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-list__symbol {
  width: 106px;
  height: 60px;

  fill: currentColor;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  background-color: var(--secondary-background-color);
}

.logo.logo-footer {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer-contact__list.list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contact__address.link {
  display: block;

  margin-top: 20px;
  margin-bottom: 0px;

  color: var(--primary-background-color);
  transition-property: color;

  @extend %transDtiming;
}

.footer-contact__address:hover,
.footer-contact__address:focus {
  color: var(--accent-color);
}
.footer-contact__link.link {
  display: block;
  margin-top: 8px;
  margin-bottom: 0px;

  color: var(--contact-color);
  transition-property: color;

  @extend %transDtiming;
}

.footer-contact__link:hover,
.footer-contact__link:focus {
  color: var(--accent-color);
}

.footer-social {
  display: inline-block;
  justify-items: center;
  justify-content: center;

  margin-top: 60px;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 20px;

  text-transform: uppercase;
  text-align: center;

  color: var(--primary-background-color);
}

.footer-social__list {
  display: flex;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
}

.footer-item {
  color: var(--primary-background-color);
  background-color: var(--footer-item-color);
}

.footer-container {
  display: block;
  margin-top: 60px;
}

.footer-form {
  margin-top: 20px;
}

.footer-form__input {
  width: 100%;

  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.btn-footer {
  display: inline-flex;
  width: 200px;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-top: 10px;

  padding-bottom: 10px;

  transition-property: background-color;

  @extend %transDtiming;
}

.btn-footer::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icons/icon\ send.svg);
}

.btn-footer:hover,
.btn-footer:focus {
  color: var(--primary-background-color);
  background-color: var(--active-btn-color);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-property: opacity;

  @extend %transDtiming;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;
  height: 609px;
  background-color: var(--primary-background-color);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  cursor: pointer;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
}

.close-button__symbol {
  fill: currentColor;
  transition-property: fill;

  @extend %transDtiming;
}

.close-button:hover .close-button__symbol,
.close-button:focus .close-button__symbol {
  color: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;

  transition-property: opacity;

  @extend %transDtiming;
}

.modal__title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--primary-text-color);
}

.form-line {
  margin-top: 0px;
  margin-bottom: 10px;
}

.modal-form__label {
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form-line input {
  padding-left: 42px;
  height: 40px;
  width: 370px;
  font-size: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  @extend %transDtiming;
}

.form-line {
  position: relative;
}

.icon-form {
  position: absolute;
  top: 25%;
  left: 15px;
  transform: translateY(50%);

  width: 12px;
  height: 12px;
  fill: currentColor;
}

.form-line__input:focus {
  border-color: var(--accent-color);
}

.form-line__input:focus + .icon-form {
  fill: var(--accent-color);
}

.coment-container {
  display: flex;
  flex-direction: column;

  margin-top: 0px;
  margin-bottom: 20px;
}

.coment-container label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.coment-text {
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  border-radius: 4px;

  @extend %transDtiming;
}

.coment-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.coment-text:focus {
  border-color: var(--accent-color);
}

.accept-link {
  display: inline-flex;
  margin-left: 3px;
  color: var(--accent-color);
}

.policy-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 30px;
}

.policy-container input {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.label-container {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label-container::before {
  content: "";
  display: inline-block;
  align-self: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-image: url(../images/icons/Vector.svg);
}

.checkbox:checked + .label-container::before {
  border-color: transparent;
  border-radius: 2px;
  background-color: #2196f3;
  background-image: url(../images/icons/icon\ check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-bottom: 40px;
  padding: 10px 52px;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--primary-background-color);
  background-color: var(--active-btn-color);
}

/* mob-menu */
