.social-list {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}

.social-list__link {
  @include centeredFlex();

  padding: 12px 12px;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icon-color);
  background-color: var(--primary-background-color);
  transition-property: background-color, color;

  @extend %transDtiming;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-background-color);
  }

  &:hover .social-list__symbol,
  &:focus .social-list__symbol {
    fill: var(--primary-background-color);
  }
}

.social-list__symbol {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition-property: fill;

  @extend %transDtiming;
}
